:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.containerTask {
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.containerTask h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  color: black;
}


.formTask input[type="text"], .formTask textarea {
  width: 95%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

.formTask textarea {
  resize: none;
  height: 100px;
}
.formTask button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formTask button:hover {
  background-color: #0056b3;
}

.filterTask {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 20px;
}

.filterTask button {
  padding: 10px;
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  flex: 1;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.filterTask button:hover {
  background-color: #e0e0e0;
}




.listTask {
  margin-top: 20px;
  margin: 0;
  padding: 0;
  
}

.listTask .task {
  display: flex;
  align-items: center;
  padding: 1px 0;
  border-bottom: 1px solid #f1f1f1;
  border: solid black 1px;
  margin-top: 10px;
}

.listTask .task input[type="checkbox"] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  accent-color: #000000;

}

.listTask .task span {
  font-size: 16px;
  font-weight: bold;
  flex: 1;
  color: black;
}

.listTask .task p {
  font-size: 14px;
  color: #666;
  margin-right: 5px;
}

.deleteButton {
  background-color: #ff4d4d; 
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #e60000; 
}

.task.completed span {
  text-decoration: line-through;
  color: #888;
}

.filterTask button.active {
  background-color: #007bff; 
  color: white; 
  border: 1px solid #0056b3; 
}

.filterTask button.active:hover {
  background-color: #0056b3; 
}